:root {
  --player-size: 300px;
  --win-border: rgba(66, 66, 66, 0.719);
}

.player-container {
  /* border: solid blueviolet 1px; */
  padding: 10px;

  position: relative;
  height: var(--player-size);
  width: var(--player-size);

  margin: auto;

  /* transform: scale(3.0) */
}

.head {
  /* border: solid rgb(243, 220, 243) 1px; */

  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 50%;

  width: auto;
  height: 50%;

  z-index: 1;
}

.thought {
  /* border: solid salmon 1px; */

  position: absolute;
  top: 0px;
  height: 55%;
  width: 80%;

  right: 0px;

  z-index: 2;
}

.choices {
  
  /* border: solid salmon 1px; */

  position: absolute;
  top: 0px;
  height: 55%;
  width: 80%;

  right: 0px;

  z-index: 3;
}



.computer-choice {
  position: absolute;
  top: 15%;
  height: 20%;
  width: auto;
  left: 40%;

  z-index: -1;
}

.paper {
  height: 20%;
  left: 43%;
}

.scissors {
  top: 17%;
  height: 17%;
  left: 39%;
}

.rock {
  height: 20%;
  left: 40%
}

.computer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: 100%;
  z-index: 15;
}

.row {
  /* border: solid black 1px; */
  margin-top: 10%;
}

.brain {
  position: absolute;
  top: 50%;
  left: 5%;
  bottom: 0;

  top: 55%;

  width: auto;
  height: 25%;

  z-index: 4;

  visibility: hidden;
}

.col {
  /* border: solid salmon 1px; */
  width: var(--player-size) !important;
  text-align: center;
}

.i {
  font-size: 2em;
  cursor: pointer;
}
.center {
  margin-left: 15px;
  margin-right: 15px;
}
.question {
  margin-left: -25px;
}
.score {
  margin-top: 10px;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
}
.game-status {
  /* border: solid salmon 1px; */
  border-radius: 23px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  display: inline-block;
  font-family: 'monospace';
  font-size: 3em;
  align-self: center;
  /* box-shadow: 3px 3px 12px black; */
  /* text-shadow: 3px 3px 12px black; */
  /* transform: scale(1); */
}

.won {
  /* border: solid blue 1px; */
  margin-top: 5px;
  height: 15px;
  color: red;
  text-align: center;
  display: inline-block;
}

.token {
  display: inline-block;
  width: 15px;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(0, 124, 226);
  margin-left: 5px;
  margin-right: 5px;
}

.win-border {
  border: solid var(--win-border) 2px;
  border-radius: 8px;
}